
{{#each this}}
  <li>
    <div class="img-wrapper">
      <img src="{{urlToImage}} width ="400" alt="{{number}}">
    </div>
    <h2>{{title}}</h2>
    <p class="content">{{content}}</p>
  </li>
{{/each}}